.color{
    border: 1px solid black;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 10px;
  
}



.vermelho{
    background-color: red;
}

.azul{
    background-color: blue;
}

.rosa{
    background-color: pink;
}

.preto{
    background-color: black;
}

.pixel{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
    
}
#pixel-board{
    margin-top: 20px;
}
#pixel-board div{
    margin-top: -2px;
}

.corPixel{
    background-color: white;
}







